00263-024-000-Summarize[[:space:]]the[[:space:]]description[[:space:]]of[[:space:]]the[[:space:]]text..jsonl filter=lfs diff=lfs merge=lfs -text
01442-000-001-language_identification.jsonl filter=lfs diff=lfs merge=lfs -text
00079-001-000-fill_blank_cmrc2019.jsonl filter=lfs diff=lfs merge=lfs -text
00487-002-003-span_detection.jsonl filter=lfs diff=lfs merge=lfs -text
00487-003-004-span_detection_with_special_formatting.jsonl filter=lfs diff=lfs merge=lfs -text
01719-000-010-txt2pt.jsonl filter=lfs diff=lfs merge=lfs -text
00043-000-000-machine-reading-comprehension.jsonl filter=lfs diff=lfs merge=lfs -text
00487-001-000-reading_comprehension.jsonl filter=lfs diff=lfs merge=lfs -text
00734-000-000-song_title_generation.jsonl filter=lfs diff=lfs merge=lfs -text
00263-002-000-Answer[[:space:]]questions[[:space:]]based[[:space:]]on[[:space:]]a[[:space:]]given[[:space:]]text..jsonl filter=lfs diff=lfs merge=lfs -text
00377-002-000-Summarize[[:space:]]the[[:space:]]case[[:space:]]based[[:space:]]on[[:space:]]the[[:space:]]content[[:space:]]of[[:space:]]the[[:space:]]legal[[:space:]]paragraphs..jsonl filter=lfs diff=lfs merge=lfs -text
00195-000-000-make_news_title.jsonl filter=lfs diff=lfs merge=lfs -text
00263-022-000-Summarize[[:space:]]the[[:space:]]description[[:space:]]of[[:space:]]the[[:space:]]text..jsonl filter=lfs diff=lfs merge=lfs -text
00377-001-000-Determine[[:space:]]the[[:space:]]defendant[[:space:]]in[[:space:]]a[[:space:]]case[[:space:]]based[[:space:]]on[[:space:]]the[[:space:]]legal[[:space:]]circumstances..jsonl filter=lfs diff=lfs merge=lfs -text
00445-001-000-humor_classification.jsonl filter=lfs diff=lfs merge=lfs -text
01719-000-000-ld2dt.jsonl filter=lfs diff=lfs merge=lfs -text
03502-000-001-medical_question_answering.jsonl filter=lfs diff=lfs merge=lfs -text
00491-003-000-poet_questions_and_answers_about_dynasty.jsonl filter=lfs diff=lfs merge=lfs -text
00526-002-000-write_idiom.jsonl filter=lfs diff=lfs merge=lfs -text
00599-000-000-chinese_poetry_collection.jsonl filter=lfs diff=lfs merge=lfs -text
00721-000-000-mental_problem_identification.jsonl filter=lfs diff=lfs merge=lfs -text
01692-000-000-fill_in_the_blank_with_given_choices.jsonl filter=lfs diff=lfs merge=lfs -text
02103-008-000-text_abstracting.jsonl filter=lfs diff=lfs merge=lfs -text
00410-000-002-chinese_sentence_rewriting.jsonl filter=lfs diff=lfs merge=lfs -text
00427-005-000-legal_knowledge_question_answering.jsonl filter=lfs diff=lfs merge=lfs -text
00487-001-001-question_generation.jsonl filter=lfs diff=lfs merge=lfs -text
01480-002-000-humorous_qa.jsonl filter=lfs diff=lfs merge=lfs -text
02145-001-001-zh_context_zh_question_zh_answer_reading_comprehension_and_questioning.jsonl filter=lfs diff=lfs merge=lfs -text
00006-001-000-conversations_based_on_scene.jsonl filter=lfs diff=lfs merge=lfs -text
00179-003-000-named_entity_recognition.jsonl filter=lfs diff=lfs merge=lfs -text
00263-005-000-Answer[[:space:]]questions[[:space:]]based[[:space:]]on[[:space:]]a[[:space:]]given[[:space:]]text..jsonl filter=lfs diff=lfs merge=lfs -text
00263-017-000-Summarize[[:space:]]the[[:space:]]description[[:space:]]of[[:space:]]the[[:space:]]text..jsonl filter=lfs diff=lfs merge=lfs -text
01600-000-001-reading[[:space:]]and[[:space:]]pose[[:space:]]questions.jsonl filter=lfs diff=lfs merge=lfs -text
01719-000-011-pt2txt.jsonl filter=lfs diff=lfs merge=lfs -text
00284-002-001-title_generation.jsonl filter=lfs diff=lfs merge=lfs -text
00406-001-000-article_headline_generation.jsonl filter=lfs diff=lfs merge=lfs -text
00491-006-000-poet_generate_title.jsonl filter=lfs diff=lfs merge=lfs -text
00833-000-000-cooking_question_answering.jsonl filter=lfs diff=lfs merge=lfs -text
01529-000-000-sum2title.jsonl filter=lfs diff=lfs merge=lfs -text
00085-000-002-chinese_sentence_rewriting.jsonl filter=lfs diff=lfs merge=lfs -text
00635-000-001-reading_comprehension_extracting_lastline_of_span.jsonl filter=lfs diff=lfs merge=lfs -text
00087-000-001-news_content_expansion.jsonl filter=lfs diff=lfs merge=lfs -text
00753-001-000-answer[[:space:]]next[[:space:]]sentence[[:space:]]in[[:space:]]a[[:space:]]poem.jsonl filter=lfs diff=lfs merge=lfs -text
01719-000-005-txt2ld.jsonl filter=lfs diff=lfs merge=lfs -text
00047-000-000-nlu_dialogue_qa.jsonl filter=lfs diff=lfs merge=lfs -text
00053-000-000-nlu_yesno_answer.jsonl filter=lfs diff=lfs merge=lfs -text
00346-000-000-Answer[[:space:]]questions[[:space:]]according[[:space:]]to[[:space:]]some[[:space:]]context.jsonl filter=lfs diff=lfs merge=lfs -text
00427-004-000-legal_knowledge_question_answering.jsonl filter=lfs diff=lfs merge=lfs -text
00754-000-000-novel_continuation.jsonl filter=lfs diff=lfs merge=lfs -text
00981-000-000-specialty2name.jsonl filter=lfs diff=lfs merge=lfs -text
00999-005-002-chinese_poem_appreciation.jsonl filter=lfs diff=lfs merge=lfs -text
02103-006-001-zh_reading_comprehension_and_questioning.jsonl filter=lfs diff=lfs merge=lfs -text
00025-001-000-information[[:space:]]retrieval.jsonl filter=lfs diff=lfs merge=lfs -text
00299-000-000-Analyze[[:space:]]texts[[:space:]]related[[:space:]]to[[:space:]]Traditional[[:space:]]Chinese[[:space:]]Medicine[[:space:]](TCM)[[:space:]]and[[:space:]]answer[[:space:]]questions[[:space:]]based[[:space:]]on[[:space:]]the[[:space:]]text..jsonl filter=lfs diff=lfs merge=lfs -text
00304-002-000-answer[[:space:]]the[[:space:]]crime[[:space:]]name[[:space:]]from[[:space:]]description.jsonl filter=lfs diff=lfs merge=lfs -text
01283-005-002-similar_text_reverse_generation.jsonl filter=lfs diff=lfs merge=lfs -text
00333-001-000-question[[:space:]]answering.jsonl filter=lfs diff=lfs merge=lfs -text
00430-001-000-chinese_instruct_data.jsonl filter=lfs diff=lfs merge=lfs -text
01283-007-000-reading_comprehension_span_extraction.jsonl filter=lfs diff=lfs merge=lfs -text
01473-000-000-news_summarization.jsonl filter=lfs diff=lfs merge=lfs -text
01529-000-003-title2sum.jsonl filter=lfs diff=lfs merge=lfs -text
01529-000-004-title2content.jsonl filter=lfs diff=lfs merge=lfs -text
00753-001-001-answer[[:space:]]previous[[:space:]]sentence[[:space:]]in[[:space:]]a[[:space:]]poem.jsonl filter=lfs diff=lfs merge=lfs -text
00246-000-000-cs_text_summerization.jsonl filter=lfs diff=lfs merge=lfs -text
00487-001-003-span_detection_and_special_output_formatting.jsonl filter=lfs diff=lfs merge=lfs -text
00487-003-001-reading_comprehension.jsonl filter=lfs diff=lfs merge=lfs -text
00516-000-001-reading_comprehension_with_unanswerable_questions.jsonl filter=lfs diff=lfs merge=lfs -text
02145-002-011-zh_context_zh_question_ar_answer_reading_comprehension_and_questioning.jsonl filter=lfs diff=lfs merge=lfs -text
00278-001-001-verify_rumor.jsonl filter=lfs diff=lfs merge=lfs -text
00427-001-000-legal_case_classification.jsonl filter=lfs diff=lfs merge=lfs -text
00734-000-001-song_lyrics_generation.jsonl filter=lfs diff=lfs merge=lfs -text
00058-000-000-userinfo_augmented_chat.jsonl filter=lfs diff=lfs merge=lfs -text
00284-003-001-text_generation.jsonl filter=lfs diff=lfs merge=lfs -text
00304-003-000-answer[[:space:]]the[[:space:]]question[[:space:]]about[[:space:]]crime.jsonl filter=lfs diff=lfs merge=lfs -text
01480-001-002-gen_joke_by_punchline.jsonl filter=lfs diff=lfs merge=lfs -text
03360-000-003-reading_comprehension_span_extraction_all.jsonl filter=lfs diff=lfs merge=lfs -text
00229-001-000-determine[[:space:]]chief_complaint[[:space:]]from[[:space:]]description.jsonl filter=lfs diff=lfs merge=lfs -text
00234-000-000-summarization.jsonl filter=lfs diff=lfs merge=lfs -text
00263-021-000-Summarize[[:space:]]the[[:space:]]description[[:space:]]of[[:space:]]the[[:space:]]text..jsonl filter=lfs diff=lfs merge=lfs -text
00772-001-004-chinese_bbc_news_searching_by_title.jsonl filter=lfs diff=lfs merge=lfs -text
00829-001-000-summarization[[:space:]]and[[:space:]]match.jsonl filter=lfs diff=lfs merge=lfs -text
00326-000-000-rumor_generation.jsonl filter=lfs diff=lfs merge=lfs -text
00729-000-000-title[[:space:]]generation.jsonl filter=lfs diff=lfs merge=lfs -text
00049-000-000-conversation.jsonl filter=lfs diff=lfs merge=lfs -text
00408-000-001-chinese_sentence_rewriting.jsonl filter=lfs diff=lfs merge=lfs -text
00708-000-001-news_content_expansion.jsonl filter=lfs diff=lfs merge=lfs -text
00772-001-001-chinese_news_title_summarization.jsonl filter=lfs diff=lfs merge=lfs -text
01529-000-001-content2title.jsonl filter=lfs diff=lfs merge=lfs -text
01268-000-000-summarization.jsonl filter=lfs diff=lfs merge=lfs -text
00612-000-000-intent_classification.jsonl filter=lfs diff=lfs merge=lfs -text
00613-000-001-event_abstract_generation.jsonl filter=lfs diff=lfs merge=lfs -text
00769-001-000-chinese_news_question_answering.jsonl filter=lfs diff=lfs merge=lfs -text
00981-000-001-name2specialty.jsonl filter=lfs diff=lfs merge=lfs -text
01600-000-000-reading[[:space:]]comprehension.jsonl filter=lfs diff=lfs merge=lfs -text
01719-000-002-dt2ld.jsonl filter=lfs diff=lfs merge=lfs -text
00263-008-000-Answer[[:space:]]questions[[:space:]]based[[:space:]]on[[:space:]]a[[:space:]]given[[:space:]]text..jsonl filter=lfs diff=lfs merge=lfs -text
00487-002-002-question_generation.jsonl filter=lfs diff=lfs merge=lfs -text
00620-000-000-Conversations.jsonl filter=lfs diff=lfs merge=lfs -text
02386-008-002-zh_context_zh_question_zh_answer_reading_comprehension_span_extraction_all.jsonl filter=lfs diff=lfs merge=lfs -text
00097-000-000-Reading[[:space:]]Comprehension.jsonl filter=lfs diff=lfs merge=lfs -text
00358-000-000-news_title_generation.jsonl filter=lfs diff=lfs merge=lfs -text
00491-002-000-poet_questions_and_answers_about_author.jsonl filter=lfs diff=lfs merge=lfs -text
01570-000-000-coarse.jsonl filter=lfs diff=lfs merge=lfs -text
03502-000-004-medical_category_classification_and_question_answering.jsonl filter=lfs diff=lfs merge=lfs -text
00772-001-000-chinese_news_summarization.jsonl filter=lfs diff=lfs merge=lfs -text
01283-004-003-similar_text_reverse_generation.jsonl filter=lfs diff=lfs merge=lfs -text
00263-025-000-Extract[[:space:]]keywords[[:space:]]from[[:space:]]the[[:space:]]text[[:space:]]description..jsonl filter=lfs diff=lfs merge=lfs -text
00380-000-000-qa.jsonl filter=lfs diff=lfs merge=lfs -text
00391-001-000-Describe[[:space:]]the[[:space:]]intent[[:space:]]of[[:space:]]the[[:space:]]text..jsonl filter=lfs diff=lfs merge=lfs -text
00487-002-001-reading_comprehension.jsonl filter=lfs diff=lfs merge=lfs -text
00516-000-000-reading_comprehension.jsonl filter=lfs diff=lfs merge=lfs -text
01283-005-001-similar_text_generation.jsonl filter=lfs diff=lfs merge=lfs -text
03360-000-001-reading_comprehension_and_questioning.jsonl filter=lfs diff=lfs merge=lfs -text
00264-000-000-Infer[[:space:]]the[[:space:]]content[[:space:]]mentioned[[:space:]]in[[:space:]]the[[:space:]]text[[:space:]]based[[:space:]]on[[:space:]]the[[:space:]]text[[:space:]]itself..jsonl filter=lfs diff=lfs merge=lfs -text
00314-000-000-file_name_prediction.jsonl filter=lfs diff=lfs merge=lfs -text
00368-000-000-Classify[[:space:]]a[[:space:]]text..jsonl filter=lfs diff=lfs merge=lfs -text
01412-000-000-question_answering.jsonl filter=lfs diff=lfs merge=lfs -text
02103-004-001-similar_sentence_generation.jsonl filter=lfs diff=lfs merge=lfs -text
00191-001-000-conversation.jsonl filter=lfs diff=lfs merge=lfs -text
00263-009-000-Medical[[:space:]]category[[:space:]]recognition..jsonl filter=lfs diff=lfs merge=lfs -text
01112-000-000-dialogue.jsonl filter=lfs diff=lfs merge=lfs -text
01719-000-009-dt2txt.jsonl filter=lfs diff=lfs merge=lfs -text
00006-002-000-theme_abstract.jsonl filter=lfs diff=lfs merge=lfs -text
00195-000-001-answer_wiki_question.jsonl filter=lfs diff=lfs merge=lfs -text
00379-000-000-fill_in_the_blank.jsonl filter=lfs diff=lfs merge=lfs -text
00487-002-004-span_detection_with_special_formatting.jsonl filter=lfs diff=lfs merge=lfs -text
00753-002-000-poem[[:space:]]to[[:space:]]tag.jsonl filter=lfs diff=lfs merge=lfs -text
00428-000-000-expected_salary_prediction.jsonl filter=lfs diff=lfs merge=lfs -text
00049-001-000-conversation.jsonl filter=lfs diff=lfs merge=lfs -text
00056-000-000-knowledge_augmented_chat.jsonl filter=lfs diff=lfs merge=lfs -text
00059-000-000-dialogue-response-generation.jsonl filter=lfs diff=lfs merge=lfs -text
00263-007-000-Answer[[:space:]]questions[[:space:]]based[[:space:]]on[[:space:]]a[[:space:]]given[[:space:]]text..jsonl filter=lfs diff=lfs merge=lfs -text
00273-000-000-story_continuation.jsonl filter=lfs diff=lfs merge=lfs -text
00610-000-000-summarization.jsonl filter=lfs diff=lfs merge=lfs -text
01719-000-008-ld2txt.jsonl filter=lfs diff=lfs merge=lfs -text
00034-001-000-question_and_answer.jsonl filter=lfs diff=lfs merge=lfs -text
00057-000-001-nlu_qa.jsonl filter=lfs diff=lfs merge=lfs -text
00491-005-000-poet_generate_pre.jsonl filter=lfs diff=lfs merge=lfs -text
00628-001-000-news_abstract.jsonl filter=lfs diff=lfs merge=lfs -text
00781-003-000-cross-language[[:space:]]summarization.jsonl filter=lfs diff=lfs merge=lfs -text
00079-002-000-order_choice_cmrc2019.jsonl filter=lfs diff=lfs merge=lfs -text
00406-002-000-key_word_generating.jsonl filter=lfs diff=lfs merge=lfs -text
00526-001-000-explain_idiom.jsonl filter=lfs diff=lfs merge=lfs -text
01570-000-001-fine.jsonl filter=lfs diff=lfs merge=lfs -text
00087-000-000-news_summary_generation.jsonl filter=lfs diff=lfs merge=lfs -text
00284-003-000-semantic_similarity.jsonl filter=lfs diff=lfs merge=lfs -text
00363-000-000-Determine[[:space:]]the[[:space:]]category[[:space:]]of[[:space:]]a[[:space:]]news[[:space:]]article[[:space:]]based[[:space:]]on[[:space:]]its[[:space:]]headline[[:space:]]and[[:space:]]summary..jsonl filter=lfs diff=lfs merge=lfs -text
00487-003-002-question_generation.jsonl filter=lfs diff=lfs merge=lfs -text
00597-000-000-product_description_generation.jsonl filter=lfs diff=lfs merge=lfs -text
01450-000-000-question_answering.jsonl filter=lfs diff=lfs merge=lfs -text
00159-000-000-QA_Chinese_Med_WeChat.jsonl filter=lfs diff=lfs merge=lfs -text
00179-002-000-named_entity_recognition.jsonl filter=lfs diff=lfs merge=lfs -text
00229-002-000-determine[[:space:]]disease[[:space:]]name[[:space:]]from[[:space:]]definition.jsonl filter=lfs diff=lfs merge=lfs -text
00263-023-000-Summarize[[:space:]]the[[:space:]]description[[:space:]]of[[:space:]]the[[:space:]]text..jsonl filter=lfs diff=lfs merge=lfs -text
00378-002-000-Provide[[:space:]]the[[:space:]]first[[:space:]]line[[:space:]]of[[:space:]]a[[:space:]]couplet[[:space:]]based[[:space:]]on[[:space:]]the[[:space:]]second[[:space:]]line..jsonl filter=lfs diff=lfs merge=lfs -text
00635-000-002-reading_comprehension_extracting_starttime_of_span.jsonl filter=lfs diff=lfs merge=lfs -text
00263-028-000-Determine[[:space:]]the[[:space:]]intent[[:space:]]based[[:space:]]on[[:space:]]the[[:space:]]text[[:space:]]description..jsonl filter=lfs diff=lfs merge=lfs -text
00487-003-000-reading_comprehension_with_requirement.jsonl filter=lfs diff=lfs merge=lfs -text
01719-000-001-ab2dt.jsonl filter=lfs diff=lfs merge=lfs -text
01719-000-006-txt2dt.jsonl filter=lfs diff=lfs merge=lfs -text
02103-003-001-zh_reading_comprehension_and_questioning.jsonl filter=lfs diff=lfs merge=lfs -text
00229-001-001-determine[[:space:]]lcd_name[[:space:]]from[[:space:]]description.jsonl filter=lfs diff=lfs merge=lfs -text
00263-003-000-Answer[[:space:]]questions[[:space:]]based[[:space:]]on[[:space:]]a[[:space:]]given[[:space:]]text..jsonl filter=lfs diff=lfs merge=lfs -text
00263-018-000-Summarize[[:space:]]the[[:space:]]description[[:space:]]of[[:space:]]the[[:space:]]text..jsonl filter=lfs diff=lfs merge=lfs -text
00348-009-000-poetry_continuation.jsonl filter=lfs diff=lfs merge=lfs -text
00491-004-000-poet_generate.jsonl filter=lfs diff=lfs merge=lfs -text
01719-000-007-ab2txt.jsonl filter=lfs diff=lfs merge=lfs -text
02145-001-002-zh_context_zh_question_zh_answer_reading_comprehension_span_extraction_all.jsonl filter=lfs diff=lfs merge=lfs -text
03360-000-000-reading_comprehension_span_extraction.jsonl filter=lfs diff=lfs merge=lfs -text
00234-000-001-news_continuation.jsonl filter=lfs diff=lfs merge=lfs -text
00304-004-000-answer[[:space:]]the[[:space:]]name[[:space:]]of[[:space:]]disease[[:space:]]according[[:space:]]to[[:space:]]description.jsonl filter=lfs diff=lfs merge=lfs -text
00621-000-000-Questiong[[:space:]]Answering.jsonl filter=lfs diff=lfs merge=lfs -text
00391-002-000-Describe[[:space:]]the[[:space:]]content[[:space:]]mentioned[[:space:]]in[[:space:]]the[[:space:]]text..jsonl filter=lfs diff=lfs merge=lfs -text
00523-000-000-chinese_sentence_rewriting.jsonl filter=lfs diff=lfs merge=lfs -text
01104-000-000-medical_dialogue.jsonl filter=lfs diff=lfs merge=lfs -text
01236-000-000-Paraphrase_sentence.jsonl filter=lfs diff=lfs merge=lfs -text
00047-000-001-nlu_qa.jsonl filter=lfs diff=lfs merge=lfs -text
00278-001-002-rumor_by_title.jsonl filter=lfs diff=lfs merge=lfs -text
00304-001-003-previous[[:space:]]lyrics[[:space:]]generation.jsonl filter=lfs diff=lfs merge=lfs -text
00487-002-000-question_rephrasing.jsonl filter=lfs diff=lfs merge=lfs -text
00772-002-000-chinese_news_summarization.jsonl filter=lfs diff=lfs merge=lfs -text
00419-001-000-medical_questions_and_answers.jsonl filter=lfs diff=lfs merge=lfs -text
00721-000-001-reading_comprehension_and_comment_generation.jsonl filter=lfs diff=lfs merge=lfs -text
00222-001-000-info_extraction.jsonl filter=lfs diff=lfs merge=lfs -text
00235-000-000-summarize[[:space:]]an[[:space:]]article.jsonl filter=lfs diff=lfs merge=lfs -text
00278-002-000-reply_to_post.jsonl filter=lfs diff=lfs merge=lfs -text
00516-000-003-span_detection.jsonl filter=lfs diff=lfs merge=lfs -text
00635-000-000-reading_comprehension_extracting_firstline_of_span.jsonl filter=lfs diff=lfs merge=lfs -text
01283-004-002-similar_text_generation.jsonl filter=lfs diff=lfs merge=lfs -text
00377-003-000-[[:space:]]Determine[[:space:]]the[[:space:]]names[[:space:]]of[[:space:]]the[[:space:]]elements[[:space:]]of[[:space:]]the[[:space:]]case[[:space:]]based[[:space:]]on[[:space:]]the[[:space:]]content[[:space:]]of[[:space:]]the[[:space:]]legal[[:space:]]paragraphs..jsonl filter=lfs diff=lfs merge=lfs -text
00516-000-002-question_generation_based_on_answers.jsonl filter=lfs diff=lfs merge=lfs -text
00620-001-000-Conversations.jsonl filter=lfs diff=lfs merge=lfs -text
00427-002-000-legal_case_abstract_generation.jsonl filter=lfs diff=lfs merge=lfs -text
00621-000-001-Json[[:space:]]file[[:space:]]generator.jsonl filter=lfs diff=lfs merge=lfs -text
00624-000-001-chinese_sentence_rewriting.jsonl filter=lfs diff=lfs merge=lfs -text
00878-000-000-background_knowledge_question_answering.jsonl filter=lfs diff=lfs merge=lfs -text
00057-000-000-nlu_generate_question.jsonl filter=lfs diff=lfs merge=lfs -text
00263-001-000-Answer[[:space:]]questions[[:space:]]based[[:space:]]on[[:space:]]a[[:space:]]given[[:space:]]text..jsonl filter=lfs diff=lfs merge=lfs -text
00463-000-000-dialogue_with_chatbot.jsonl filter=lfs diff=lfs merge=lfs -text
01719-000-004-txt2ab.jsonl filter=lfs diff=lfs merge=lfs -text
02103-005-001-similar_sentence_generation.jsonl filter=lfs diff=lfs merge=lfs -text
00263-006-000-Answer[[:space:]]questions[[:space:]]based[[:space:]]on[[:space:]]a[[:space:]]given[[:space:]]text..jsonl filter=lfs diff=lfs merge=lfs -text
00840-000-000-advertisement_generation.jsonl filter=lfs diff=lfs merge=lfs -text
00191-000-000-conversation.jsonl filter=lfs diff=lfs merge=lfs -text
00278-001-000-title_by_info.jsonl filter=lfs diff=lfs merge=lfs -text
00371-000-001-allusion_to_word_generation.jsonl filter=lfs diff=lfs merge=lfs -text
01529-000-005-sum2content.jsonl filter=lfs diff=lfs merge=lfs -text
01719-000-003-dt2ab.jsonl filter=lfs diff=lfs merge=lfs -text
00263-019-000-Summarize[[:space:]]the[[:space:]]description[[:space:]]of[[:space:]]the[[:space:]]text..jsonl filter=lfs diff=lfs merge=lfs -text
00263-020-000-Summarize[[:space:]]the[[:space:]]description[[:space:]]of[[:space:]]the[[:space:]]text..jsonl filter=lfs diff=lfs merge=lfs -text
00378-001-000-Provide[[:space:]]the[[:space:]]second[[:space:]]line[[:space:]]of[[:space:]]a[[:space:]]couplet[[:space:]]based[[:space:]]on[[:space:]]the[[:space:]]first[[:space:]]line..jsonl filter=lfs diff=lfs merge=lfs -text
00516-000-004-span_detection_and_qustion_answering_with_special_formatting.jsonl filter=lfs diff=lfs merge=lfs -text
00635-000-003-reading_comprehension_extracting_endtime_of_span.jsonl filter=lfs diff=lfs merge=lfs -text
00753-001-003-answer[[:space:]]previous[[:space:]]half[[:space:]]sentence[[:space:]]in[[:space:]]a[[:space:]]poem.jsonl filter=lfs diff=lfs merge=lfs -text
00772-002-004-chinese_bbc_news_searching_by_title.jsonl filter=lfs diff=lfs merge=lfs -text
03024-000-000-summarize.jsonl filter=lfs diff=lfs merge=lfs -text
00034-002-000-question_and_answer.jsonl filter=lfs diff=lfs merge=lfs -text
00250-000-000-sentiment_analysis.jsonl filter=lfs diff=lfs merge=lfs -text
00285-000-000-read_comprehension.jsonl filter=lfs diff=lfs merge=lfs -text
00289-000-000-text_continuation.jsonl filter=lfs diff=lfs merge=lfs -text
00379-000-001-fill_in_the_beginning.jsonl filter=lfs diff=lfs merge=lfs -text
00704-000-000-news_headline_generation.jsonl filter=lfs diff=lfs merge=lfs -text
00904-000-000-news_headline_generation.jsonl filter=lfs diff=lfs merge=lfs -text
01529-000-002-content2sum.jsonl filter=lfs diff=lfs merge=lfs -text
00046-001-000-medical_question_and_answer.jsonl filter=lfs diff=lfs merge=lfs -text
00221-000-001-product_headline_generation.jsonl filter=lfs diff=lfs merge=lfs -text
00708-000-000-news_headline_generation.jsonl filter=lfs diff=lfs merge=lfs -text
00304-001-002-next[[:space:]]lyrics[[:space:]]generation.jsonl filter=lfs diff=lfs merge=lfs -text
00359-000-001-idiom_generation.jsonl filter=lfs diff=lfs merge=lfs -text
00284-001-000-read_comprehension.jsonl filter=lfs diff=lfs merge=lfs -text
00753-001-002-answer[[:space:]]next[[:space:]]half[[:space:]]sentence[[:space:]]in[[:space:]]a[[:space:]]poem.jsonl filter=lfs diff=lfs merge=lfs -text
01349-000-000-paraphrase.jsonl filter=lfs diff=lfs merge=lfs -text
00025-000-000-information[[:space:]]retrieval.jsonl filter=lfs diff=lfs merge=lfs -text
00049-002-000-conversation.jsonl filter=lfs diff=lfs merge=lfs -text
00097-001-000-Reading[[:space:]]Comprehension.jsonl filter=lfs diff=lfs merge=lfs -text
00221-000-000-product_description_generation.jsonl filter=lfs diff=lfs merge=lfs -text
00263-004-000-Answer[[:space:]]questions[[:space:]]based[[:space:]]on[[:space:]]a[[:space:]]given[[:space:]]text..jsonl filter=lfs diff=lfs merge=lfs -text
01480-001-000-analyze_joke.jsonl filter=lfs diff=lfs merge=lfs -text
00304-003-001-answer[[:space:]]the[[:space:]]crime[[:space:]]category[[:space:]]from[[:space:]]the[[:space:]]question.jsonl filter=lfs diff=lfs merge=lfs -text
00346-000-001-generate[[:space:]]json[[:space:]]file[[:space:]]to[[:space:]]save[[:space:]]entity[[:space:]]and[[:space:]]its[[:space:]]category.jsonl filter=lfs diff=lfs merge=lfs -text
00491-001-000-poet_questions_and_answers_about_title.jsonl filter=lfs diff=lfs merge=lfs -text
00772-002-001-chinese_news_title_summarization.jsonl filter=lfs diff=lfs merge=lfs -text
01454-000-000-question_answerinc.jsonl filter=lfs diff=lfs merge=lfs -text
